@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: salmon;
    font-family: "Permanent Marker", cursive;
}